@include media($mobile) {
	footer {
		padding-top: 1em;
		figure {
			figcaption {
				text-align: center;
				font-style: italic;
				color: #fff;
				font-size: 0.75em;
			}
			img {
				max-width: 60%;
				height: auto;
				display: block;
				margin: 0 auto;
			}
		}
		p {
			color: white;
			a {
				color: white;
				&:hover, &:active {
					color: darken($teal, 10%);
				}
			}
		}
	}
	.map {
		footer {
			background: $teal;
		}
	}
}